<!-- Form Validation Wizard -->
<!-- panel -->
<!--*** Tabs Left Without Border ***-->
<div class="panel panel-piluku">
    <div class="panel-heading">
        <h3 class="panel-title">
            ARRC Notice of Loss
        </h3>
    </div>
    <div class="panel-body">
        <div role="tabpanel">
            <!-- xselectize form   -->
            <div class="form-group row">
                <label class="col-sm-2 col-lg-2 control-label">Select Form:</label>
                <div class="col-sm-8 col-lg-4">
                    <select class="name_search form-control" ng-model="formSelect" ng-options="opt as opt for opt in formOptions" ng-change="filterTypeLoss()">
                    </select>
                </div>
            </div>
            <!-- xselect form   -->
            <form name="myform" ng-submit="register()" novalidate>
            <!-- Nav tabs -->
            <uib-tabset active="active">
                <uib-tab index="0" heading="Claim Information" ng-hide="formSelect == null">
                    <claim-information loss-type="typeList" companies="Companies" ng-hide="formSelect == null"></claim-information>
                </uib-tab>
                <uib-tab index="1" heading="Description of Loss" ng-hide="formSelect == null">
                    <description-of-loss assign-list="assignList" ng-hide="formSelect == null"></description-of-loss>
                </uib-tab>
                <uib-tab index="2" heading="Vehicle Details" ng-hide="formSelect == 'Environmental' || formSelect == 'Property Damage' ||  formSelect == null">
                    <vehicle-details assign-list="assignList" form-template="formSelect" ng-hide="formSelect == null"></vehicle-details>
                </uib-tab>
                <uib-tab index="3" heading="Fuel Oil Escape Details" ng-hide="formSelect == 'Accident Benefits' || formSelect == 'Bodily Injury' || formSelect == 'Property Damage' ||  formSelect == null">
                    <fuel-oil-escape-details assign-list="assignList" ng-hide="formSelect == null"></fuel-oil-escape-details>
                </uib-tab>
                <uib-tab index="4" heading="Claimant Details" ng-hide="formSelect == 'Environmental' || formSelect == 'Property Damage' ||  formSelect == null">
                    <claimant-details assign-list="assignList" ng-hide="formSelect == null"></claimant-details>
                </uib-tab>
                <uib-tab index="5" heading="Summary" ng-hide="formSelect == 'Accident Benefits' || formSelect == null">
                    <summary assign-list="assignList" ng-hide="formSelect == null"></summary>
                </uib-tab>
                <uib-tab index="6" heading="Payment & Reserves" ng-hide="formSelect == null">
                    <payment-reserves assign-list="assignList" ng-hide="formSelect == null"></payment-reserves>
                </uib-tab>
                <uib-tab index="7" heading="Plan of Action" ng-hide="formSelect == null">
                    <plan-of-action ng-hide="formSelect == null"></plan-of-action>
                </uib-tab>
            </uib-tabset>
                <div class="row col-md-12">
                    <button class="btn btn-primary" style="float: right;" ng-click="submitAll()" ng-hide="formSelect == null">Submit</button>
                </div>

            </form>
        </div>
    </div>
</div>
<!--*** /Tabs Left Without Border ***-->
<!-- /panel -->
<script src='assets/js/jquery.multi-select.js'></script>
<script src='assets/js/bootstrap-filestyle.js'></script>