<section>
    <div class="row grid m-t">
        <!-- *** Legal *** -->
        <div class="col-md-12">
            <div class="row">
                <div class="form-group col-md-12">
                    <p>
                        <b>Example:</b><br>
                        This section is used to outline the present plan of actions being pursued. Examples of this would be strategies for bringing a claim to a resolution, retain experts for origin and cause investigation, structural assessment and determine any subrogation opportunities.
                    </p>
                </div>
                <div class="form-group col-md-12">
                    <label class="control-label">Enter any plan of action details:</label>
                    <textarea rows="3" class="form-control" ng-model="planOfAction.actionPlan"></textarea>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /col-md-6 -->
    </div>
    <div class="row col-md-12">
        <button class="btn btn-primary" ng-click="save()">Save</button>
    </div>
</section>