<!-- panel -->
<div class="panel panel-piluku">
    <div class="panel-heading">
        <h3 class="panel-title">
            <button class="btn btn-red" ng-click="removeForm()">Remove</button>
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="form-group col-md-4">
                <label class="control-label">Third Party Insurer:</label>
                <input type="text" class="form-control" ng-model="formData.claimNumber">
            </div>
            <div class="form-group col-md-4">
                <label class="control-label">Owner:</label>
                <textarea rows="3" class="form-control" ng-model="formData.claimDetails">
            </div>
        </div>
        <!-- /row -->
    </div>
</div>
<!-- /panel -->