<!-- panel -->
<div class="panel panel-piluku">
    <div class="panel-heading">
        <h3 class="panel-title">
            Payment & Reserve Details (press 'Add')
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="form-group col-md-6">
                <label class="control-label">Type *</label>
                <select class="form-control" ng-model="assignList" ng-options="opt as opt for opt in assignList | filter:'!Pending'"></select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label class="control-label">Payments</label>
                <input type="text" class="form-control" ng-model="formData.payments">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label class="control-label">Outstanding Reserves</label>
                <input type="text" class="form-control" ng-model="formData.outstandingReserve">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label class="control-label">Cummulative Incurred Amount</label>
                <input type="text" class="form-control" ng-model="formData.cummulativeIncurredAmt">
            </div>
        </div>

    </div>
    <!-- /row -->
</div>