<div class="left-bar">
        <div class="admin-logo">
            <div class="logo-holder pull-left">
                <img class="logo" ng-src="assets/images/farmbrand.png" alt="logo">
            </div>
            <!-- logo-holder -->
            <a href="#" class="menu-bar  pull-right"><i class="ti-menu"></i></a>
        </div>
        <!-- admin-logo -->
        <ul class="list-unstyled menu-parent" id="mainMenu">
            <li>
                <a href="dashoboard">
                    <i class="icon ti-cut"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="login">
                    <i class="icon ti-cut"></i>
                    <span class="text">login</span>
                </a>
            </li>
            <li class="submenu">
                <a class="waves-effect waves-light" href="#layouts">
                    <i class="icon ti-layout"></i>
                    <span class="text">Forms</span>
                    <i class="chevron ti-angle-right"></i>
                </a>
                <ul class="list-unstyled">
                    <li><a href="arrc">ARRC</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- left-bar -->
    <script src='src/layouts/js/layout.js'></script>