<div class="overlay"></div>     
    <div class="top-bar">
      <nav class="navbar navbar-default top-bar">
        <div class="menu-bar-mobile" id="open-left"><i class="ti-menu"></i>
        </div>

        <form class="navbar-left" role="search">
          <div class="search">
            <input type="text" class="form-control" placeholder="Search">
          </div>
        </form>
        <ul class="nav navbar-nav navbar-right top-elements">
          <li class="piluku-dropdown dropdown">
            <a data-target="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><img class="flag_img" src="assets/images/flags/canada.png" alt=""> Canada<span class="drop-icon"><i class="ion ion-chevron-down"></i></span>
            </a>
            <ul class="dropdown-menu dropdown-piluku-menu piluku-right animated fadeInUp wow language-drop neat_drop" data-wow-duration="1500ms" role="menu">
              <li>
                <a href="#"><img class="flag_img" src="assets/images/flags/usa.png" alt="flags"> USA</a>
              </li>
            </ul>
          </li>
          <li class="piluku-dropdown dropdown">
            <a  data-target="#"  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="ion-ios-bell-outline icon-notification"></i><span class="badge info-number message">22</span></a>
            <ul class="dropdown-menu dropdown-piluku-menu piluku-right animated fadeInUp wow notification-drop neat_drop" data-wow-duration="1500ms" role="menu">
              <li>
                <a href="#">
                  <div class="hexagon danger">
                    <span><i class="ion-ios-alarm-outline"></i></span>
                  </div>
                  <span class="text_info"> Privacy settings have been changed</span>
                  <span class="time_info">3:30am</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="hexagon success">
                    <span><i class="ion-ios-body-outline"></i></span>
                  </div>
                  <span class="text_info"> Tim has added you as friend</span>
                  <span class="time_info">4:30am</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="hexagon warning">
                    <span><i class="ion-ios-cart-outline"></i></span>
                  </div>
                  <span class="text_info"> New item added</span>
                  <span class="time_info">6:07am</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="hexagon info">
                    <span><i class="ion-ios-calendar-outline"></i></span>
                  </div>
                  <span class="text_info"> reminder please complete the task</span>
                  <span class="time_info">3:30pm</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="outline-hexagon">
                    <span><i class="ion-ios-checkmark-outline"></i></span>
                  </div>
                  <span class="text_info"> Marked as complete</span>
                  <span class="time_info">1:30pm</span>
                </a>
              </li>
              <li>
                <a href="#" class="last_info">See all notifications</a>
              </li>

            </ul>
          </li>
          <li class="piluku-dropdown dropdown">
            <a  data-target="#"  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="ion-ios-box-outline icon-notification"></i><span class="badge info-number bell">22</span></a>
            <ul class="dropdown-menu dropdown-piluku-menu piluku-right animated fadeInUp wow message_drop neat_drop" data-wow-duration="1500ms" role="menu">
              <a href="#">
                <span class="avatar_left"><img src="assets/images/avatar.jpeg" alt=""></span>
                <span class="text_info"> Hi want to know about the company freelance for wizard</span>
                <span class="time_info">3:30am <i class="online ion-record"></i></span>
              </a>
              <a href="#">
                <span class="avatar_left"><img src="assets/images/avatar.jpeg" alt=""></span>
                <span class="text_info"> Hi want to know about the company freelance for wizard</span>
                <span class="time_info">3:30am <i class="offline ion-record"></i></span>
              </a>
              <a href="#">
                <span class="avatar_left"><img src="assets/images/avatar.jpeg" alt=""></span>
                <span class="text_info"> Hi want to know about the company freelance for wizard</span>
                <span class="time_info">3:30am <i class="away ion-record"></i></span>
              </a>
              <a href="#">
                <span class="avatar_left"><img src="assets/images/avatar.jpeg" alt=""></span>
                <span class="text_info"> Hi want to know about the company freelance for wizardi want to know about the company freelance for wii want to know about the company freelance for wi</span>
                <span class="time_info">3:30am <i class="grey ion-record"></i></span>
              </a>
            </ul>
          </li>
          <li class="piluku-dropdown dropdown">
            <a  data-target="#"  class="dropdown-toggle avatar_width" data-toggle="dropdown" role="button" aria-expanded="false"><span class="avatar-holder"><img src="assets/images/avatar.jpeg" alt=""></span><span class="avatar_info">Bootstrap Guru</span><span class="drop-icon"><!-- <i class="ion ion-chevron-down"></i> --></span></a>
            <ul class="dropdown-menu dropdown-piluku-menu piluku-right animated fadeInUp wow avatar_drop neat_drop" data-wow-duration="1500ms" role="menu">
              <li>
                <a href="#"> <i class="ion-android-settings"></i>Settings</a>
              </li>
              <li>
                <a href="#"> <i class="ion-android-chat"></i>Messages</a>
              </li>
              <li>
                <a href="#"> <i class="ion-android-cloud-circle"></i>Upload</a>
              </li>
              <li>
                <a href="#"> <i class="ion-android-create"></i>Edit profile</a>
              </li>
              <li>
                <a href="#" class="logout_button"><i class="ion-power"></i>Logout</a>
              </li>   
            </ul>
          </li>
          <li class="chat_btn">
            <a href="#" class="right-bar-toggle flatRed">
              <i class="ion-ios-people-outline"></i>                              
            </a>
          </li>
        </ul>

      </nav>

    </div>
    <!-- /top-bar -->